  
/*----------------------------------------
  GENERAL STYLING
------------------------------------------*/
html {
    scroll-behavior: smooth; /* This ensures that the page scrolling is smooth when the nav bar is clicked */
}

* {
    box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}



/* Body */
body {
    margin: 0%;  /* This ensures our site displays all the way to the edge of the browser screen */
    background-position: top;
    background-color:  #f7f0ad67;
    background-image: url("../portfimages/otis-redding.png");
}

/* Heading 1 elements */
h1 {
    text-transform: uppercase; /* Capitalizing all h1 headings */
    font-family: "Amatic SC", cursive; /* Sets the font family of all h1 headings */
    font-size: 4.5em;
    text-align: center; /* Centering all h1 elements */
    margin-top: .5%; /* Adds a small margin above h1 elements */
    margin-bottom: .5%;
    color: #CE6E3B; 
    text-shadow: 15px 20px 2vw #586A65;
}

h2 {
  text-transform: uppercase; /* Capitalizing all h1 headings */
  font-family: 'Oswald', sans-serif; /* Sets the font family of all h1 headings */
  font-size: 2em;
  text-align: center; /* Centering all h1 elements */
  margin-top: .5%; /* Adds a small margin above h1 elements */
  margin-bottom: .5%;
  color: #CE6E3B; 
  text-shadow: 15px 20px 2vw #586A65;
}


/* Paragraph elements */
p {
    font-family: 'Oswald', sans-serif;
    font-size: 1.3vw;
    padding-left: 20px; /* Adds padding to the left of the paragraph element */
    padding-right: 20px; /* Adds padding to the right of the paragraph element */
    color: #085050;
    z-index: 1;
    margin-right: auto;
    margin-left: auto;
}


/* Anchor elements */
a {
  color: blue; /* This ensures all links are blue */
  z-index: 10;
  text-decoration: none;
}

/*----------------------------------------
    END GENERAL STYLING
------------------------------------------*/


/*----------------------------------------
    ABOUT SECTION STYLING
------------------------------------------*/

/* Image elements */
.image1 {
    max-width: 100%; /* Ensures all images stay within the width of their container */
    height: 25em; /* Sets the height of all images */
    display: block; /* By specifying block display we can ensure our images are able to be centered */
    margin-left: auto; /* In combination with "margin-right: auto" this centers all images */
    margin-right: auto;
    margin-bottom: 0;
    z-index: -10;
}

.image2 {
  max-width: 100%; /* Ensures all images stay within the width of their container */
  height: 25em; /* Sets the height of all images */
  display: block; /* By specifying block display we can ensure our images are able to be centered */
  margin-left: auto; /* In combination with "margin-right: auto" this centers all images */
  margin-right: auto;
  margin-bottom: 0;
  z-index: -10;
}


.border-container {
  position: relative;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.border-container .about{
  position: absolute;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
  top: .5%;
 
}


/*----------------------------------------
    END ABOUT SECTION STYLING
------------------------------------------*/



/*----------------------------------------
    NAVBAR STYLING
------------------------------------------*/
.Navbar {
    overflow: hidden; /* This ensures that any content that overflows beyond the boundary of our nav bar is not displayed */
    background-color: transparent; /* This colors the navbar black */
    position: fixed; /* This keeps the navbar at the top of the screen as we scroll */
    top: 0; /* This ensures no space is displayed above the navbar */
    width: 100%; /* This makes the navbar span the entire width of the page */
    z-index: 1; /* This ensures other elements don't display over the navbar */
}

/* Navbar links */
.Navbar a {
    float: left; /* This specifies that the text floats on the left on the navbar */
    display: block; /* This ensures that other text will be displayed on the same line or row, instead of a new line */
    color: #254B4A; /* This is the font color for text on our navbar */
    padding: 14px 16px; /* This adds padding around our text */
    text-decoration: none; /* This gets rid of the underlines under the text on our navbar */
    font-family: "Amatic SC", cursive; /* This specifies the font family for text on our navbar */
    font-size: 2em; /* This specifies the font size for text on our navbar */
    font-weight: bold;
    text-align: center; /* This centers the text within its container */
    position: relative; /* This sets the text relative to its normal positioning, allowing us to use the animation below */
}




/* Navbar hover effects */
.Navbar a:hover {
    background-color: transparent; /* Defines the background color that will display when you hover over the link */
    color: #CE6E3B; /* This defines the font color that will display when navbar a elements are hovered over */
    font-weight: bold; /* This makes the text on the navbar bold when hovered over */
}

/* Navbar home button */
.Navbar a.active { /* This targets the a element on the navbar with the "active" class */
    background-color: darkgray;
}
/*----------------------------------------
    END NAVBAR
------------------------------------------*/


/*----------------------------------------
    TYPEWRITER EFFECT
------------------------------------------*/

.typewriter p {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #CE6E3B; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
  }

/*----------------------------------------
    END TYPEWRITER EFFECT
------------------------------------------*/


/* Screens 576px and smaller will display navbar links equally distributed */
@media screen and (max-width: 576px) {
  .Navbar a{
      width: 25%; /* This makes each link take up 1/4 of the navbar */
      font-size: 12px;
  }
  .wrapper .column1, .column2 {
    position: relative;
    width: 100%;
  }
}

/*----------------------------------------
    TABLE STYLING
------------------------------------------*/

.row {
  display: block;
  transition: all .6s;
    transition-property: all;
    transition-duration: 0.6s;
    transition-timing-function: ease;
    transition-delay: 0s;
  }


.row:after {
  content: "";
  display: table;
  clear: both;
}


.column1 {
  float:left;
  width: 50%;
  max-width: 100%;
  padding: 1%;
  height: 300px;
}

.column2 {
  float: left;
  max-width: 100%;
  width: 50%;
  padding: 1%;
  height: 600px;
}

.column3 {
  margin-top: 15%;
  float: center;
  width: 100%;
  padding: 1%;
  height: 600px;
}



/*----------------------------------------
    END TABLE STYLING
------------------------------------------*/


  /*----------------------------------------
    POPUP CONTACT FORM STYLING 
------------------------------------------*/
  
.contactForm { 
    display: none;
    position: relative;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    box-shadow: 15px 20px 2vw #586A65;
    max-width: 50%;
    text-align: center;
    background: #d2b48c;
    z-index: 10;
 
}

  
input, textarea { 
    margin: .8em auto;
    font-family: 'Oswald', sans-serif; 
    text-transform: inherit; 
    font-size: inherit;
    display: block; 
    width: 100%; 
    padding: .4em;
    box-shadow: 15px 20px 2vw #586A65;
  }
textarea { 
  height: 80px; 
  resize: none; 
}
  
.formBtn { 
    max-width: 20%;
    border-radius: 50%;
    display: inline-block;
    background: #d3ad58;
    box-shadow: 15px 20px 2vw #586A65;
    color: #254B4A;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    border: none;
  }

  .formBtn:hover {
    color: #fff;
    box-shadow: 15px 20px 2vw seashell;
}

  /*----------------------------------------
    END CONTACT FORM STYLING 
------------------------------------------*/

  /*----------------------------------------
    BUTTON STYLING 
------------------------------------------*/

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: 1.7vw;
  font-weight: bold;
  font-family: "Amatic SC", cursive;
}
button.learn-more {
  width: 12rem;
  height: auto;
}
button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #282936;
  border-radius: 1.625rem;
}
button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}
button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}
button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}
button:hover .circle {
  width: 100%;
}
button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}
button:hover .button-text {
  color: #fff;
}

  #container {
    grid-area: main;
    align-self: center;
    justify-self: center;
    max-width: 50%;
    margin-left: 5%;
    margin-right: 5%;
  }

/*----------------------------------------
    END BUTTON STYLING 
------------------------------------------*/


/*----------------------------------------
    CARD FLIP STYLING 
------------------------------------------*/
  
.flip {
  position: relative;
}
.flip > .front,
.flip > .back {
  display: block;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 0.5s;
  transition-property: transform, opacity;
}
.flip > .back {
  position: absolute;
  opacity: 0;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  transform: rotateY(-180deg);
}
.flip:hover > .back {
  opacity: 1;
  transform: rotateY(0deg);
}
.flip.flip-vertical > .back {
  transform: rotateX(-180deg);
}
.flip.flip-vertical:hover > .front {
  transform: rotateX(180deg);
}
.flip.flip-vertical:hover > .back {
  transform: rotateX(0deg);
}
.flip {
  position: relative;
  display: inline-block;
  margin-right: 2px;
  margin-bottom: 1em;
  width: 400px;
}
.flip > .front,
.flip > .back {
  display: block;
  color: white;
  width: inherit;
  background-size: cover !important;
  background-position: center !important;
  height: 220px;
  padding: 1em 2em;
  background: #313131;
  border-radius: 10px;
}
.flip > .front p,
.flip > .back p {
  font-size: 0.9125rem;
  line-height: 160%;
  color: #999;
}

/*----------------------------------------
    END CARD FLIP STYLING 
------------------------------------------*/
  

/*----------------------------------------
    FOOTER
------------------------------------------*/
footer {
  clear: both;
  position: relative;
  height: 50px;
  margin-top: -50px;
  text-align: center;
  padding-top: 5em;
  padding-bottom: .5em;
  background: transparent;
}

footer p{
color: #015871;
font-weight: bold;
}

/*----------------------------------------
  END FOOTER 
------------------------------------------*/